@media (max-width: 1024px) {

    
    .description {

        &_content {
            min-width: 60%;  
        }

        &_bloc1 h2{
            font-size: 2.7rem;
        }

        &_bloc2 p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 767px) {

    .hero {
        &_title {
            font-size: 2.6rem !important;
        }

        &_subtitle {
            font-size: 1.8rem !important;
        }
    }

    .description {

        &_content {
            min-width: 90%;  
        }

        &_bloc1 h2{
            font-size: 2.5rem;
        }

        &_bloc2 p {
            font-size: 1.5rem;
        }

        &_under {
            gap: 2rem !important;
        }
           
        
    }
}

@media (max-width: 425px) {
    .hero {
        &_title {
            font-size: 2rem !important;
        }

        &_subtitle {
            font-size: 1.4rem !important;
        }
    }
}