/*
Theme Name: BlankSlate Child
Template: blankslate
*/

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url('assets/fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background: rgb(255, 255, 255) ;
  font-family: 'SpaceGrotesk', sans-serif;
  margin: 0;
  scroll-snap-type: y mandatory;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth;
}

section {
  height: 100vh; 
  scroll-snap-align: start; 
}

.hero {
  display: flex;                
  flex-direction: column;       
  justify-content: center;      
  align-items: center;                          
  text-align: center;           
  background-color: rgba(237, 237, 237, 1);  
  color: rgba(66, 55, 134, 1);

  &_space {
    height: 25%;
  }

  &_title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'SpaceGrotesk-Bold';
    font-size: 70px;
    margin: 0;
  }

  &_subtitle {
    font-family: 'SpaceGrotesk-Light', sans-serif;
    font-weight: 300;
    font-size: 45px;
    margin: 0;
  }

  &_links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

    :hover img {
      transform: scale(1.5);
    }

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.5s;
    }
  }

  &_scroll {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;
    transition: transform 0.3 ease;

    &:hover {

      .text {
        transform: translateY(10px);
      }

      a img {
        transform: translateY(-10px);
      }
    }
    
    .text, a img {
      transition: transform 0.5s ease;
    }
  }
}

.description {
  display: flex;                
  flex-direction: column;       
  justify-content: center;      
  align-items: center;                         
  text-align: center;           
  background-color: rgba(66, 55, 134, 1);  
  color: rgba(237, 237, 237, 1);

  &_content {
    width: 40%;
  }

  &_bloc1 {
    font-family: 'SpaceGrotesk-Light', sans-serif;
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
  }

  &_under {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  &_bloc2 {
    font-weight: 400;
    font-size: 30px;
    text-align: left;
  }

  &_bloc3 {
    font-family: 'SpaceGrotesk-Light', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    max-width: 50%;
  }

  &_bloc4 {
    font-family: 'SpaceGrotesk-Light', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
  }
}

.cv {
  box-sizing: border-box;
  color: rgba(66, 55, 134, 1);
  background-color: rgb(237, 237, 237);
  padding-top: 2rem;

  &_content {
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
  }

  &_title {
    font-family: 'SpaceGrotesk-Light', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    max-width: 90%;
    margin: 0;
  }

  &_timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 2rem;
    cursor: grab;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0rem;   
      right: -355rem;
      height: 4px;
      background-color: rgba(66, 55, 134, 1);
      z-index: 0;
    }
  }

  
  @mixin button-style {
    height: fit-content;
    width: fit-content;
    background-color: rgba(66, 55, 134, 1);
    color: white;
    padding: 8px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    align-self: center;

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
  }

  @mixin project-block {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 500px;

    .cv_logo {
      width: 100%;
      max-width: 200px;
      max-height: 100px;
      padding: 0px 0 10px 0;
      display: flex;
      justify-self: center;
      align-items: center;
      margin: 0 auto 10px auto;
      
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
        display: block;
      }
    }

    &_date {
      @include button-style;
    }

    &_discover {
      @include button-style;
    }
  }

  .cv_item {
    @include project-block;
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    scroll-snap-align: center;
    position: relative;
    z-index: 2;
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    h3,p {
      margin: 10px 0;
    }

    &.top {
      align-self: center;
      transform: translateY(calc(-50% - 2rem));
    }

    &.bottom {
      align-self: center;
      transform: translateY(calc(50% + 2rem));
    }
  }

  .cv_date {
    position: absolute;
    background-color: rgba(66, 55, 134, 1);
    top: 50%;
    color: white;
    padding: 6px 12px;
    border-radius: 1rem;
    font-size: 0.9rem;
    z-index: 0; 
  }

  .cv_item-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &.top .cv_date {
      transform: translate(0%, calc(-50% - 0px));

      p {
        margin:0;
      }
    }

    &.bottom .cv_date {
      transform: translate(0%, calc(-50% - 0px)); 

      p {
        margin:0;
      }
    }

    .cv_more {
      position: absolute;
      left: 50%;
      width: 82.5%;
      background: white;
      padding: 2rem;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease, transform 0.5s ease;
      z-index: 1;

      p {
        z-index: 0;
        position: relative;
      }
    }

    &.top .cv_more {
      top: 45%; 
      border-radius: 0 0 1rem 1rem;
      transform: translateX(-50%) translateY(-130%);
    }

    &.top.open .cv_more {
      max-height: 800px;
      transform: translateX(-50%) translateY(-10%); 
    }

    &.bottom .cv_more {
      bottom: 40%; 
      border-radius:1rem 1rem 0 0;
      transform: translateX(-50%) translateY(100%);
    }

    &.bottom.open .cv_more {
      max-height: 800px;
      transform: translateX(-50%) translateY(10%);
    }


    .cv_toggle {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      background: rgba(66, 55, 134, 1);
      color: white;
      transition: 0.3s;
      z-index: 3;
      position: relative;

      &:hover {
        opacity: 0.8;
      }
    }

    
  }
}

